In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)


import os
print(os.listdir("../input"))

['GCP-Coupons-Instructions.rtf', 'train.csv', 'sample_submission.csv', 'test.csv']

### Path to the dataset

In [3]:
PATH = '../input/'

### Read data
- I have tried reading 50 million rows, but I am getting an error "Kernel has died". So, I decided to create this kernel only on first 5 million rows.

In [4]:
train_data = pd.read_csv(PATH + 'train.csv', nrows=5000000)

In [5]:
train_data.head()

                             key       ...         passenger_count
0    2009-06-15 17:26:21.0000001       ...                       1
1    2010-01-05 16:52:16.0000002       ...                       1
2   2011-08-18 00:35:00.00000049       ...                       2
3    2012-04-21 04:30:42.0000001       ...                       1
4  2010-03-09 07:51:00.000000135       ...                       1

[5 rows x 8 columns]

### Describe data

In [18]:
train_data.describe()

        fare_amount       ...         passenger_count
count  5.000000e+06       ...            5.000000e+06
mean   1.134080e+01       ...            1.684695e+00
std    9.820175e+00       ...            1.331854e+00
min   -1.000000e+02       ...            0.000000e+00
25%    6.000000e+00       ...            1.000000e+00
50%    8.500000e+00       ...            1.000000e+00
75%    1.250000e+01       ...            2.000000e+00
max    1.273310e+03       ...            2.080000e+02

[8 rows x 6 columns]

### Passenger count
- As we see, The passenger count with 7, 9, 51, 129 and 208 are very less(~1 to 7) when compared to other passenger counts.

In [ ]:
train_data.passenger_count.value_counts().plot('bar')